<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingCfg"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBindingCfg">
          <security mode="Message">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:9000/auth" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBindingCfg" contract="Authentication.IAuthenticatedService"
        name="Authenticate">
      </endpoint>
      <endpoint address="https://localhost:9000/imp" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBindingCfg"
        contract="Authentication.IImpersonationService" name="Impersonate" />
      <endpoint address="https://localhost:9000/basicimp" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBindingCfg"
        contract="Authentication.IImpersonationService" name="BasicImpersonate" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AuthenticatedServiceHost.AuthenticatedService">
        <endpoint address="/auth" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingCfg" contract="AuthenticatedServiceHost.IAuthenticatedService" />
        <endpoint address="/imp" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingCfg" contract="AuthenticatedServiceHost.IImpersonationService"/>
        <endpoint address="/basicimp" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingCfg" contract="AuthenticatedServiceHost.IImpersonationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>