<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingCfg" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBindingCfg">
          <security mode="Message">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9000/imp" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBindingCfg" contract="AuthenticatedService.IImpersonationService"
        name="Impersonate" />
      <endpoint address="http://localhost:9000/basicimp" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBindingCfg" contract="AuthenticatedService.IImpersonationService"
        name="BasicImpersonate" />
      <endpoint address="http://localhost:9000/auth" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBindingCfg" contract="AuthenticatedService.IAuthenticatedService"
        name="Authentication" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AllowImpersonate">
          <clientCredentials>
            <windows allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>